h1{
    background-color: #ffc107;
    margin: 0px;
    padding: 15px;
}
hr{
    background-color: #ffc107;
    margin : 0px;
}
footer{

    background-color: #ffc107;
    margin-bottom: 0px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.btn-lg{
    border: 2px solid black;
}