{% extends "base.html" %} {% block title %}
<title>{{title}}</title>
{% endblock %} {% block content %}

<h1 class="text-center">{{title}}</h1>

<hr />
<div class="container">
  
<div class="mt-5 d-flex justify-content-center m-5">
    <a href="{{url_for('add_licence')}}">
        <button class="btn btn-warning">Add New Licence</button>
    </a>
</div>

<div class="row">
    {% for item in licence_list %}

    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.product_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Expires: {{item.expiration_date.strftime("%Y/%m/%d")}}</h6>
          <p class="card-text">{{item.product_detail}}</p>
          <a href="{{url_for('licence_detail', licence_id = item.id)}}" 
          class="card-link">Details</a>
        </div>
      </div>

    {% endfor %}
</div>


</div>
{% endblock %} 
{% block year %} {{year}} {% endblock %}
