{% extends "base.html" %}

{% block title %} 
    <title>{{title}}</title>
{% endblock %}


{% block content %}

<h1 class="text-center">{{title}}</h1>

<hr class="mb-5">

<div class="mt-5 d-flex justify-content-center m-5">
    <a href="{{url_for('add_notes')}}">
        <button class="btn btn-warning">Add New Note</button>
    </a>
</div>

<div class="container">

   <div>
        {% for item in notes_list %}
    <div class="card">
        <div class="card-header">
          Written by : {{item.author | capitalize() }} 
          | on {{item.date.strftime("%Y/%m/%d | %H:%M")}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.note}}</p>
          <a href="#" class="btn btn-warning">Read More</a>
        </div>
      </div>
        {% endfor %}
   </div> 
</div>

{% endblock %}
